body {
	margin:0;
	padding:0;
	font: bold 11px/1.5em Verdana;
}

h2 {
	font: bold 14px Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	margin: 0px;
	padding: 0px 0px 0px 15px;
}
img {
border: none;
} 

#listadoemp{
background-color: #DBEBF6;
}

#error{
color: red;
font: bold 14px Verdana, Arial, Helvetica, sans-serif;
}

#menu3 {
margin-top:1%;
float: left;
width: 14%;
margin-right:1%;
background-color: #ffffff;
clear:both;
}
#contenido {
float: left;
width: 85%;
margin-bottom:1%;
}
#contenido #principal {
margin-top:1%;
float: left;
width: 100%;
border: 2px solid #BBD9EE;
background-color: #DBEBF6;
border-radius: 15px;
}

#central {
clear:both;
margin-left:10%;
margin-right:10%;
}
/*- Menu Tabs--------------------------- */ 

    #tabs {
      float:left;
      width:100%;
      background:#191512;
      font-size:93%;
      line-height:normal;
      }
    #tabs ul {
	  margin:0;
	  padding:10px 10px 0 50px;
	  list-style:none;
      }
    #tabs li {
      display:inline;
      margin:0;
      padding:0;
      }
    #tabs a {
      float:left;
      margin:0;
      padding:0 0 0 4px;
      text-decoration:none;
      }
    #tabs a span {
      float:left;
      display:block;
      background:url("") no-repeat right top;
      padding:5px 15px 4px 6px;
      color:#ffffff;
      }
    /* Commented Backslash Hack hides rule from IE5-Mac \*/
    #tabs a span {float:none;}
    /* End IE5-Mac hack */
    #tabs a:hover span {
      color:#FF9834;
      }
    #tabs a:hover {
      background-position:0% -42px;
      }
    #tabs a:hover span {
      background-position:100% -42px;
      }

/*Menu Vertical para el empleado*/
ul.menua {
		clear: both;
		float:left;
        border: 1px solid #DBEBF6;
        border-width: 1px 1px 0 1px;
        width: 100%;
		margin:0;
		padding:0;
}
ul.menua li {
		padding: .3em;
        list-style-type: none;
        border-bottom: 1px solid #191512;
}

ul.menua a {
        text-decoration: none;
        color: #3366CC;
        background: #F0F7FC;
        display: block;
        padding: 3px 6px;
}

ul.menua a:hover {
       background: #DBEBF6;
}

/* MENU HORIZONTAL */
#tablist{
padding: 3px 0;
margin-left: 0;
margin-bottom: 0;
margin-top: 0.1em;
font: bold 12px Verdana;
border-bottom: 1px solid gray;
}

#tablist li{
list-style: none;
display: inline;
margin: 0;
}

#tablist li a{
text-decoration: none;
padding: 3px 0.5em;
margin-right: 3px;
border: 1px solid #778;
border-bottom: none;
background: white;
}

#tablist li a:link, #tablist li a:visited{
color: navy;
}

#tablist li a:hover{
color: black;
background: lightgreen;
border-color: navy;
}

#tablist li a.current{
background: lightgreen;
}
